CANServer/node-red/Dashboard.json
[
    {
        "id": "c4bc86ae.bc827",
        "type": "tab",
        "label": "test_flow"
    },
    {
        "id": "b6136f21.707d08",
        "type": "tab",
        "label": "Flow 2"
    },
    {
        "id": "26596680.efe712",
        "type": "websocket-client",
        "z": "",
        "path": "ws://127.0.0.1:5678/",
        "wholemsg": "false"
    },
    {
        "id": "bef8df8.a317aa",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "ba98106b.a4c5c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#10cfd8",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                }
            }
        },
        "site": {
            "name": "e-Kart Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3ba66566.ed74ca",
        "type": "ui_tab",
        "z": "",
        "name": "e-Kart",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "b9cca87c.2d0418",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "3ba66566.ed74ca",
        "order": 3,
        "disp": false,
        "width": "4"
    },
    {
        "id": "c5061caf.0822e8",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://127.0.0.1:5678",
        "wholemsg": "false"
    },
    {
        "id": "ab67b9a2.c3ad78",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.123:5678/",
        "wholemsg": "false"
    },
    {
        "id": "e54fb6f7.60d0e",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://192.168.1.123:5678/",
        "wholemsg": "false"
    },
    {
        "id": "b3200681.22cf18",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ae78bcc3.5801d",
        "type": "ui_group",
        "z": "",
        "name": "Speed",
        "tab": "3ba66566.ed74ca",
        "order": 1,
        "disp": false,
        "width": "4"
    },
    {
        "id": "3cf76c8.2a1bb94",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "3ba66566.ed74ca",
        "order": 4,
        "disp": false,
        "width": "3"
    },
    {
        "id": "c457c91e.98758",
        "type": "websocket in",
        "z": "c4bc86ae.bc827",
        "name": "RPi Websocket",
        "server": "",
        "client": "26596680.efe712",
        "x": 100.90001678466797,
        "y": 44.000000953674316,
        "wires": [
            [
                "4bfd4d34.3080a4",
                "4b2b89b2.a75f4"
            ]
        ]
    },
    {
        "id": "5064e98d.a955b8",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Pure JSON",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 455.9000244140625,
        "y": 85.19999694824219,
        "wires": []
    },
    {
        "id": "1fea55b4.3bf352",
        "type": "websocket out",
        "z": "b6136f21.707d08",
        "name": "RPi Websocket",
        "server": "c5061caf.0822e8",
        "client": "",
        "x": 713.1000556945801,
        "y": 95.59999084472656,
        "wires": []
    },
    {
        "id": "4bbdc31d.79b244",
        "type": "inject",
        "z": "b6136f21.707d08",
        "name": "CANConfig",
        "topic": "",
        "payload": "[     {         \"node\": 36,         \"key\": \"Motor Speed\",         \"mode\": \"SDO\",         \"updateRate\": \"1.2\",         \"toMin\": -12000,         \"toMax\": 12000,         \"fromMin\": -32768,         \"fromMax\": 32768     },     {         \"node\": 36,         \"key\": \"Current (RMS)\",         \"mode\": \"SDO\",         \"updateRate\": \"2\",         \"toMin\": 0,         \"toMax\": 1000,         \"fromMin\": 0,         \"fromMax\": 10000     } ]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 221.90003204345703,
        "y": 89.00000762939453,
        "wires": [
            [
                "1fea55b4.3bf352",
                "218172be.954806"
            ]
        ]
    },
    {
        "id": "218172be.954806",
        "type": "debug",
        "z": "b6136f21.707d08",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 702.9000091552734,
        "y": 218.1999969482422,
        "wires": []
    },
    {
        "id": "4bfd4d34.3080a4",
        "type": "json",
        "z": "c4bc86ae.bc827",
        "name": "",
        "x": 269.9000244140625,
        "y": 134.59999084472656,
        "wires": [
            [
                "5064e98d.a955b8",
                "87748a02.f6ea4",
                "ee4812a4.e9643",
                "83ef6a8d.7d0278",
                "d3972677.f42b98"
            ]
        ]
    },
    {
        "id": "4b2b89b2.a75f4",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "JSON String",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 282.20001220703125,
        "y": 32.19999694824219,
        "wires": []
    },
    {
        "id": "87748a02.f6ea4",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Motor Speed",
        "func": "if (\"Motor Speed\" in msg.payload){\n    msg.payload = msg.payload[\"Motor Speed\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 638.9000091552734,
        "y": 224.20004081726074,
        "wires": [
            [
                "2b575fe7.2d155",
                "2f26df62.7c6aa8"
            ]
        ]
    },
    {
        "id": "ee4812a4.e9643",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "BDI",
        "func": "if (\"BDI\" in msg.payload){\n    msg.payload = msg.payload[\"BDI\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.2000389099121,
        "y": 150.20001029968262,
        "wires": [
            [
                "13d92f8c.bfcbb",
                "7f6d430.314cfbc"
            ]
        ]
    },
    {
        "id": "2b575fe7.2d155",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Motor Speed",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 802.9000244140625,
        "y": 208.20004081726074,
        "wires": []
    },
    {
        "id": "974a7c92.c72228",
        "type": "comment",
        "z": "c4bc86ae.bc827",
        "name": "What does it do?",
        "info": "This flow receives a JSON string\nCreates a JSON object (should contain array of objects)\nSplits this array\nTheses partial messages get filtered for each UI element\n",
        "x": 804.9000244140625,
        "y": 49.59996032714844,
        "wires": []
    },
    {
        "id": "2f26df62.7c6aa8",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "Motor Speed",
        "group": "ae78bcc3.5801d",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Motor RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "3500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 805.9000129699707,
        "y": 244.00004959106445,
        "wires": []
    },
    {
        "id": "13d92f8c.bfcbb",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "BDI",
        "group": "3cf76c8.2a1bb94",
        "order": 2,
        "width": "3",
        "height": "2",
        "gtype": "wave",
        "title": "BDI",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 774.5000114440918,
        "y": 150.77779388427734,
        "wires": []
    },
    {
        "id": "7f6d430.314cfbc",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "BDI",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 776,
        "y": 106,
        "wires": []
    },
    {
        "id": "83ef6a8d.7d0278",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Temperature",
        "func": "if (\"Temperature\" in msg.payload){\n    msg.payload = msg.payload[\"Temperature\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 641,
        "y": 298,
        "wires": [
            [
                "8cbb7730.44c138",
                "b9ef1d8f.1fe25"
            ]
        ]
    },
    {
        "id": "8cbb7730.44c138",
        "type": "ui_text",
        "z": "c4bc86ae.bc827",
        "group": "3cf76c8.2a1bb94",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temp",
        "format": "{{msg.payload}}°C",
        "layout": "col-center",
        "x": 813.5,
        "y": 341.77777099609375,
        "wires": []
    },
    {
        "id": "b9ef1d8f.1fe25",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Temperature",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 813,
        "y": 298,
        "wires": []
    },
    {
        "id": "d3972677.f42b98",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Current (RMS)",
        "func": "if (\"Current (RMS)\" in msg.payload){\n    msg.payload = msg.payload[\"Current (RMS)\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 667,
        "y": 434,
        "wires": [
            [
                "576a1324.7fcf7c",
                "47d0fdaf.3b83b4"
            ]
        ]
    },
    {
        "id": "576a1324.7fcf7c",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "Current (RMS)",
        "group": "b9cca87c.2d0418",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Current (RMS)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880.2999801635742,
        "y": 445.5778064727783,
        "wires": []
    },
    {
        "id": "47d0fdaf.3b83b4",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Current (RMS)",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 881.7999782562256,
        "y": 387.80000019073486,
        "wires": []
    }
]