CANServer/node-red/Dashboard.json
[
    {
        "id": "c457c91e.98758",
        "type": "websocket in",
        "z": "c4bc86ae.bc827",
        "name": "RPi Websocket",
        "server": "",
        "client": "ab67b9a2.c3ad78",
        "x": 100.90001678466797,
        "y": 44.000000953674316,
        "wires": [
            [
                "4bfd4d34.3080a4",
                "4b2b89b2.a75f4"
            ]
        ]
    },
    {
        "id": "5064e98d.a955b8",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Pure JSON",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 455.9000244140625,
        "y": 85.19999694824219,
        "wires": []
    },
    {
        "id": "4bfd4d34.3080a4",
        "type": "json",
        "z": "c4bc86ae.bc827",
        "name": "",
        "x": 269.9000244140625,
        "y": 134.59999084472656,
        "wires": [
            [
                "5064e98d.a955b8",
                "87748a02.f6ea4",
                "ee4812a4.e9643",
                "83ef6a8d.7d0278",
                "d3972677.f42b98",
                "866fa160.47486"
            ]
        ]
    },
    {
        "id": "4b2b89b2.a75f4",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "JSON String",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 282.20001220703125,
        "y": 32.19999694824219,
        "wires": []
    },
    {
        "id": "87748a02.f6ea4",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Vehicle Speed",
        "func": "if (\"Vehicle Speed\" in msg.payload){\n    msg.payload = msg.payload[\"Vehicle Speed\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 648.9000091552734,
        "y": 224.20004081726074,
        "wires": [
            [
                "2b575fe7.2d155",
                "2f26df62.7c6aa8"
            ]
        ]
    },
    {
        "id": "ee4812a4.e9643",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "BDI",
        "func": "if (\"BDI\" in msg.payload){\n    msg.payload = msg.payload[\"BDI\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.2000389099121,
        "y": 150.20001029968262,
        "wires": [
            [
                "13d92f8c.bfcbb",
                "7f6d430.314cfbc"
            ]
        ]
    },
    {
        "id": "2b575fe7.2d155",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Vehicle Speed",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 861.9000244140625,
        "y": 206.2000494003296,
        "wires": []
    },
    {
        "id": "974a7c92.c72228",
        "type": "comment",
        "z": "c4bc86ae.bc827",
        "name": "What does it do?",
        "info": "This flow receives a JSON string\nCreates a JSON object (should contain array of objects)\nSplits this array\nTheses partial messages get filtered for each UI element\n",
        "x": 804.9000244140625,
        "y": 49.59996032714844,
        "wires": []
    },
    {
        "id": "2f26df62.7c6aa8",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "Vehicle Speed",
        "group": "ae78bcc3.5801d",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Vehicle Speed",
        "label": "RPM",
        "format": "{{value}}",
        "min": "-3500",
        "max": "3500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 856.9000244140625,
        "y": 242.0000581741333,
        "wires": []
    },
    {
        "id": "13d92f8c.bfcbb",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "BDI",
        "group": "3cf76c8.2a1bb94",
        "order": 2,
        "width": "3",
        "height": "2",
        "gtype": "wave",
        "title": "BDI",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 774.5000114440918,
        "y": 150.77779388427734,
        "wires": []
    },
    {
        "id": "7f6d430.314cfbc",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "BDI",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 776,
        "y": 106,
        "wires": []
    },
    {
        "id": "83ef6a8d.7d0278",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Temperature",
        "func": "if (\"Temperature\" in msg.payload){\n    msg.payload = msg.payload[\"Temperature\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 641,
        "y": 298,
        "wires": [
            [
                "8cbb7730.44c138",
                "b9ef1d8f.1fe25"
            ]
        ]
    },
    {
        "id": "8cbb7730.44c138",
        "type": "ui_text",
        "z": "c4bc86ae.bc827",
        "group": "3cf76c8.2a1bb94",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temp",
        "format": "{{msg.payload}}°C",
        "layout": "col-center",
        "x": 813.5,
        "y": 341.77777099609375,
        "wires": []
    },
    {
        "id": "b9ef1d8f.1fe25",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Temperature",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 813,
        "y": 298,
        "wires": []
    },
    {
        "id": "d3972677.f42b98",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Current (RMS)",
        "func": "if (\"Current (RMS)\" in msg.payload){\n    msg.payload = msg.payload[\"Current (RMS)\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 667,
        "y": 434,
        "wires": [
            [
                "576a1324.7fcf7c",
                "47d0fdaf.3b83b4"
            ]
        ]
    },
    {
        "id": "576a1324.7fcf7c",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "Current (RMS)",
        "group": "b9cca87c.2d0418",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Current (RMS)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880.2999801635742,
        "y": 445.5778064727783,
        "wires": []
    },
    {
        "id": "47d0fdaf.3b83b4",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Current (RMS)",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 881.7999782562256,
        "y": 387.80000019073486,
        "wires": []
    },
    {
        "id": "866fa160.47486",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "motor speed",
        "func": "if (\"Motor Speed\" in msg.payload){\n    msg.payload = msg.payload[\"Motor Speed\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 544,
        "wires": [
            [
                "15bb0e74.137052",
                "aa0bbbbc.7ef7d8"
            ]
        ]
    },
    {
        "id": "15bb0e74.137052",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Motor Speed",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 855.0000152587891,
        "y": 526.0000085830688,
        "wires": []
    },
    {
        "id": "aa0bbbbc.7ef7d8",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "Motor Speed",
        "group": "ae78bcc3.5801d",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Motor Speed",
        "label": "RPM",
        "format": "{{value}}",
        "min": "-3500",
        "max": "3500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850.0000152587891,
        "y": 561.8000173568726,
        "wires": []
    },
    {
        "id": "ab67b9a2.c3ad78",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.123:5678/",
        "wholemsg": "false"
    },
    {
        "id": "ae78bcc3.5801d",
        "type": "ui_group",
        "z": "",
        "name": "Speed",
        "tab": "3ba66566.ed74ca",
        "order": 1,
        "disp": false,
        "width": "4"
    },
    {
        "id": "3cf76c8.2a1bb94",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "3ba66566.ed74ca",
        "order": 4,
        "disp": false,
        "width": "3"
    },
    {
        "id": "b9cca87c.2d0418",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "3ba66566.ed74ca",
        "order": 3,
        "disp": false,
        "width": "4"
    },
    {
        "id": "3ba66566.ed74ca",
        "type": "ui_tab",
        "z": "",
        "name": "e-Kart",
        "icon": "dashboard",
        "order": 1
    }
]