CANServer/node-red/SendConfig.json
[
    {
        "id": "1fea55b4.3bf352",
        "type": "websocket out",
        "z": "b6136f21.707d08",
        "name": "RPi Websocket",
        "server": "e54fb6f7.60d0e",
        "client": "",
        "x": 713.1000556945801,
        "y": 95.59999084472656,
        "wires": []
    },
    {
        "id": "4bbdc31d.79b244",
        "type": "inject",
        "z": "b6136f21.707d08",
        "name": "CANConfig",
        "topic": "",
        "payload": "[     {         \"node\": 36,         \"key\": \"Motor Speed\",         \"mode\": \"SDO\",         \"updateRate\": \"0.1\",         \"toMin\": -12000,         \"toMax\": 12000,         \"fromMin\": -32768,         \"fromMax\": 32768     },     {         \"node\": 36,         \"key\": \"BDI\",         \"mode\": \"SDO\",         \"updateRate\": \"1.5\",         \"toMin\": 0,         \"toMax\": 100,         \"fromMin\": 0,         \"fromMax\": 100     } ]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 246.90000915527344,
        "y": 113,
        "wires": [
            [
                "1fea55b4.3bf352",
                "218172be.954806"
            ]
        ]
    },
    {
        "id": "218172be.954806",
        "type": "debug",
        "z": "b6136f21.707d08",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 702.9000091552734,
        "y": 218.1999969482422,
        "wires": []
    },
    {
        "id": "e54fb6f7.60d0e",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://192.168.1.123:5678/",
        "wholemsg": "false"
    }
]