CANServer/node-red/test_flow.json
[
    {
        "id": "c457c91e.98758",
        "type": "websocket in",
        "z": "c4bc86ae.bc827",
        "name": "RPi Websocket",
        "server": "",
        "client": "26596680.efe712",
        "x": 112.90000915527344,
        "y": 68,
        "wires": [
            [
                "4bfd4d34.3080a4",
                "4b2b89b2.a75f4",
                "2f26df62.7c6aa8"
            ]
        ]
    },
    {
        "id": "5064e98d.a955b8",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Pure JSON",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 455.9000244140625,
        "y": 85.19999694824219,
        "wires": []
    },
    {
        "id": "6d325cbd.401b1c",
        "type": "ui_text",
        "z": "c4bc86ae.bc827",
        "group": "b9cca87c.2d0418",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "One",
        "label": "Value:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 776.9000244140625,
        "y": 222.40000915527344,
        "wires": []
    },
    {
        "id": "4bfd4d34.3080a4",
        "type": "json",
        "z": "c4bc86ae.bc827",
        "name": "",
        "x": 269.9000244140625,
        "y": 134.59999084472656,
        "wires": [
            [
                "5064e98d.a955b8",
                "87748a02.f6ea4",
                "ee4812a4.e9643",
                "66474ff4.6c462"
            ]
        ]
    },
    {
        "id": "4b2b89b2.a75f4",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "JSON String",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 282.20001220703125,
        "y": 32.19999694824219,
        "wires": []
    },
    {
        "id": "b94dbd69.a6a6f8",
        "type": "ui_text",
        "z": "c4bc86ae.bc827",
        "group": "b9cca87c.2d0418",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Two",
        "label": "value:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 778.2000122070312,
        "y": 296.20001220703125,
        "wires": []
    },
    {
        "id": "2b303b29.3c3b44",
        "type": "ui_text",
        "z": "c4bc86ae.bc827",
        "group": "b9cca87c.2d0418",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Three",
        "label": "Value:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 781.2000122070312,
        "y": 362.20001220703125,
        "wires": []
    },
    {
        "id": "87748a02.f6ea4",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "One",
        "func": "msg.payload = msg.payload.One;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 611.9000091552734,
        "y": 200.1999969482422,
        "wires": [
            [
                "6d325cbd.401b1c",
                "2b575fe7.2d155"
            ]
        ]
    },
    {
        "id": "ee4812a4.e9643",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Two",
        "func": "msg.payload = msg.payload.Two;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 612.2000122070312,
        "y": 259.20001220703125,
        "wires": [
            [
                "b94dbd69.a6a6f8",
                "9bb349a9.425a2"
            ]
        ]
    },
    {
        "id": "66474ff4.6c462",
        "type": "function",
        "z": "c4bc86ae.bc827",
        "name": "Three",
        "func": "msg.payload = msg.payload.Three;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 611.2000122070312,
        "y": 327.20001220703125,
        "wires": [
            [
                "2b303b29.3c3b44",
                "8f197c18.98dcf8"
            ]
        ]
    },
    {
        "id": "2b575fe7.2d155",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "One",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 775.9000244140625,
        "y": 184.1999969482422,
        "wires": []
    },
    {
        "id": "9bb349a9.425a2",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Two",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 778.2000122070312,
        "y": 258.20001220703125,
        "wires": []
    },
    {
        "id": "8f197c18.98dcf8",
        "type": "debug",
        "z": "c4bc86ae.bc827",
        "name": "Three",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 781.2000122070312,
        "y": 326.20001220703125,
        "wires": []
    },
    {
        "id": "974a7c92.c72228",
        "type": "comment",
        "z": "c4bc86ae.bc827",
        "name": "What does it do?",
        "info": "This flow receives a JSON string\nCreates a JSON object (should contain array of objects)\nSplits this array\nTheses partial messages get filtered for each UI element\n",
        "x": 804.9000244140625,
        "y": 49.59996032714844,
        "wires": []
    },
    {
        "id": "2f26df62.7c6aa8",
        "type": "ui_gauge",
        "z": "c4bc86ae.bc827",
        "name": "",
        "group": "b9cca87c.2d0418",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 266.90000915527344,
        "y": 389.99998474121094,
        "wires": []
    },
    {
        "id": "26596680.efe712",
        "type": "websocket-client",
        "z": "",
        "path": "ws://127.0.0.1:5678/",
        "wholemsg": "false"
    },
    {
        "id": "b9cca87c.2d0418",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3ba66566.ed74ca",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3ba66566.ed74ca",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]