node-red/Dashboard.json
[{
    "id": "d7c195f7.68e5f8",
    "type": "websocket in",
    "z": "640b2c5b.424384",
    "name": "RPi Websocket",
    "server": "",
    "client": "2faae8d1.1c37e8",
    "x": 117.00000762939453,
    "y": 52.00000190734863,
    "wires": [
        ["1f6faa8c.9ed985", "56b17605.b423f8"]
    ]
}, {
    "id": "bbed3f74.a7bbc",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "Pure JSON",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 479.00000762939453,
    "y": 106.19999599456787,
    "wires": []
}, {
    "id": "1f6faa8c.9ed985",
    "type": "json",
    "z": "640b2c5b.424384",
    "name": "",
    "x": 293.00000762939453,
    "y": 155.59998989105225,
    "wires": [
        ["bbed3f74.a7bbc", "3df41e14.756d62", "9898bda6.33978", "2a722b2b.797044", "e1230f0e.72e4f", "d7d512e2.85a46"]
    ]
}, {
    "id": "56b17605.b423f8",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "JSON String",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 305.2999954223633,
    "y": 53.19999599456787,
    "wires": []
}, {
    "id": "3df41e14.756d62",
    "type": "function",
    "z": "640b2c5b.424384",
    "name": "Vehicle Speed",
    "func": "if (\"Vehicle Speed\" in msg.payload){\n    msg.payload = msg.payload[\"Vehicle Speed\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 671.9999923706055,
    "y": 245.20003986358643,
    "wires": [
        ["26f027e3.e58e88", "29c5b7cd.74fe88"]
    ]
}, {
    "id": "9898bda6.33978",
    "type": "function",
    "z": "640b2c5b.424384",
    "name": "BDI",
    "func": "if (\"BDI\" in msg.payload){\n    msg.payload = msg.payload[\"BDI\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 641.3000221252441,
    "y": 171.2000093460083,
    "wires": [
        ["c1a8c1ff.a1ab6", "7d7d522f.c9940c"]
    ]
}, {
    "id": "26f027e3.e58e88",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "Vehicle Speed",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 885.0000076293945,
    "y": 227.20004844665527,
    "wires": []
}, {
    "id": "681ee22d.ddd72c",
    "type": "comment",
    "z": "640b2c5b.424384",
    "name": "What does it do?",
    "info": "This flow receives a JSON string\nCreates a JSON object (should contain array of objects)\nSplits this array\nTheses partial messages get filtered for each UI element\n",
    "x": 828.0000076293945,
    "y": 70.59995937347412,
    "wires": []
}, {
    "id": "29c5b7cd.74fe88",
    "type": "ui_gauge",
    "z": "640b2c5b.424384",
    "name": "Vehicle Speed",
    "group": "719e4e15.ae3ee",
    "order": 1,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Vehicle Speed",
    "label": "RPM",
    "format": "{{value}}",
    "min": "-3500",
    "max": "3500",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 880.0000076293945,
    "y": 263.000057220459,
    "wires": []
}, {
    "id": "c1a8c1ff.a1ab6",
    "type": "ui_gauge",
    "z": "640b2c5b.424384",
    "name": "BDI",
    "group": "7feb3377.6b7c3c",
    "order": 2,
    "width": "3",
    "height": "2",
    "gtype": "wave",
    "title": "BDI",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 797.5999946594238,
    "y": 171.77779293060303,
    "wires": []
}, {
    "id": "7d7d522f.c9940c",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "BDI",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 799.099983215332,
    "y": 126.99999904632568,
    "wires": []
}, {
    "id": "2a722b2b.797044",
    "type": "function",
    "z": "640b2c5b.424384",
    "name": "Temperature",
    "func": "if (\"Temperature\" in msg.payload){\n    msg.payload = msg.payload[\"Temperature\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 664.099983215332,
    "y": 318.9999990463257,
    "wires": [
        ["7bfac9ae.669118", "d785defd.08074"]
    ]
}, {
    "id": "7bfac9ae.669118",
    "type": "ui_text",
    "z": "640b2c5b.424384",
    "group": "7feb3377.6b7c3c",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Temperature",
    "label": "Temp",
    "format": "{{msg.payload}}°C",
    "layout": "col-center",
    "x": 836.599983215332,
    "y": 362.77777004241943,
    "wires": []
}, {
    "id": "d785defd.08074",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "Temperature",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 836.099983215332,
    "y": 318.9999990463257,
    "wires": []
}, {
    "id": "e1230f0e.72e4f",
    "type": "function",
    "z": "640b2c5b.424384",
    "name": "Current (RMS)",
    "func": "if (\"Current (RMS)\" in msg.payload){\n    msg.payload = msg.payload[\"Current (RMS)\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 690.099983215332,
    "y": 454.9999990463257,
    "wires": [
        ["eb57fbb4.d2b508", "54c7b4c9.f3e09c"]
    ]
}, {
    "id": "eb57fbb4.d2b508",
    "type": "ui_gauge",
    "z": "640b2c5b.424384",
    "name": "Current (RMS)",
    "group": "7f4c1918.42cb68",
    "order": 1,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Current (RMS)",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 903.3999633789062,
    "y": 466.577805519104,
    "wires": []
}, {
    "id": "54c7b4c9.f3e09c",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "Current (RMS)",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 904.8999614715576,
    "y": 408.79999923706055,
    "wires": []
}, {
    "id": "d7d512e2.85a46",
    "type": "function",
    "z": "640b2c5b.424384",
    "name": "motor speed",
    "func": "if (\"Motor Speed\" in msg.payload){\n    msg.payload = msg.payload[\"Motor Speed\"];\n}\nelse{\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 665.099983215332,
    "y": 564.9999990463257,
    "wires": [
        ["cd8fe001.ec1ed", "a2929465.8f12b8"]
    ]
}, {
    "id": "cd8fe001.ec1ed",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "Motor Speed",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 878.0999984741211,
    "y": 547.0000076293945,
    "wires": []
}, {
    "id": "a2929465.8f12b8",
    "type": "ui_gauge",
    "z": "640b2c5b.424384",
    "name": "Motor Speed",
    "group": "719e4e15.ae3ee",
    "order": 1,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Motor Speed",
    "label": "RPM",
    "format": "{{value}}",
    "min": "-3500",
    "max": "3500",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 873.0999984741211,
    "y": 582.8000164031982,
    "wires": []
}, {
    "id": "b58f5ffa.ef93",
    "type": "websocket out",
    "z": "640b2c5b.424384",
    "name": "RPi Websocket",
    "server": "df172bc7.e573e8",
    "client": "",
    "x": 620,
    "y": 700.2000122070312,
    "wires": []
}, {
    "id": "7ec05f80.ecb1a",
    "type": "debug",
    "z": "640b2c5b.424384",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 609.7999534606934,
    "y": 822.8000183105469,
    "wires": []
}, {
    "id": "39d922e1.5c704e",
    "type": "ui_text_input",
    "z": "640b2c5b.424384",
    "name": "",
    "label": "Dashboard config",
    "group": "719e4e15.ae3ee",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": "0",
    "topic": "",
    "x": 270,
    "y": 700,
    "wires": [
        ["b58f5ffa.ef93", "7ec05f80.ecb1a"]
    ]
}, {
    "id": "5dfb4551.7c737c",
    "type": "inject",
    "z": "640b2c5b.424384",
    "name": "Config",
    "topic": "Config",
    "payload": "[     {         \"key\": \"Motor Speed\",         \"mode\": \"SDO\",         \"updateRate\": \"1\",         \"toMin\": -32768,         \"toMax\": 32767,         \"fromMin\": -32768,         \"fromMax\": 32767     } ]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 250,
    "y": 600,
    "wires": [
        ["b58f5ffa.ef93"]
    ]
}, {
    "id": "2faae8d1.1c37e8",
    "type": "websocket-client",
    "z": "",
    "path": "ws://172.24.1.1:5678/",
    "wholemsg": "false"
}, {
    "id": "719e4e15.ae3ee",
    "type": "ui_group",
    "z": "",
    "name": "Speed",
    "tab": "4e861164.4b1bd",
    "order": 1,
    "disp": false,
    "width": "4"
}, {
    "id": "7feb3377.6b7c3c",
    "type": "ui_group",
    "z": "",
    "name": "Status",
    "tab": "4e861164.4b1bd",
    "order": 4,
    "disp": false,
    "width": "3"
}, {
    "id": "7f4c1918.42cb68",
    "type": "ui_group",
    "z": "",
    "name": "Power",
    "tab": "4e861164.4b1bd",
    "order": 3,
    "disp": false,
    "width": "4"
}, {
    "id": "df172bc7.e573e8",
    "type": "websocket-listener",
    "z": "",
    "path": "ws://172.24.1.1:5678/",
    "wholemsg": "false"
}, {
    "id": "4e861164.4b1bd",
    "type": "ui_tab",
    "z": "",
    "name": "e-Kart",
    "icon": "dashboard",
    "order": 1
}]